/* General Style */

body {
    margin: 0px; 
    background-color: #fcf2f5; 
}

/* set general characteristics, like inline-block and 0 margins */

header {
    display: block; 
    height: 20px; /* this isn't the best solution; fix later */
    padding-top: 7px;
    padding-bottom: 7px; 
    background-color: white; 
}

header a {
    display: inline-block; 
    padding-left: 2px; 
    padding-right: 2px; 
    margin-left: 2px; 
    margin-right: 2px; 
    text-decoration: none; 
    font-family: "Bahnschrift Light", "Calibri", Arial, Helvetica, sans-serif; 
}

#linkButtons {
    margin: 0px; 
    margin-right: 10px; 
    float: right; 
}

.pageName {
    margin: 0px;
    display: flex; 
    flex-wrap: wrap; 
    height: 550px; 
    align-items: center; 
    background-color: grey;
    background-image: url("../images/headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3); */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.pageName h1 {
    font-size: 82px; 
    font-family: "Garamond", "Times New Roman", serif; 
    color: white; 
}

.pageMessage {
    flex: 100%; 
    text-align: center; 
}

/* Submission Page */

#submissionGuidelines {
    margin: 0px; 
    padding-bottom: 20px; 
    background-color: white; 
}

#submissionGuidelines h3 {
    padding-top: 20px; 
    padding-bottom: 10px; 
    font-family: "Bahnschrift Light", "Calibri", Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 34px; 
    text-align: center; 
    border-bottom: 1px solid black; 
}

#submissionGuidelines ul {
    margin-left: 200px; 
    margin-right: 200px; 
    font-family: "Bahnschrift Light", "Calibri", Arial, Helvetica, sans-serif;
    font-size: 18px; 
}

#submissionGuidelines li {
    margin-bottom: 15px; 
}
